.line-numbered-text-area-root {
    .line-numbered-text-area-row {
        overflow-y: scroll;
        height: 95vh;
        width: auto;
        background-color: rgb(37, 36, 36);
        .bx--text-area {
            overflow: hidden;
            overflow-x: scroll;
            background-color: transparent;
            color: white;
            resize: none;
            border: none;
        }
        .bx--text-area:focus {
            border: none;
            outline: none;
        }
        .bx--text-area__wrapper {
        }
        .line-number {
            min-width: 0;
            text-align: right;
        }
    }
}